* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
  }

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 15vh;
}

#finalizar{
    background-color: rgb(216, 216, 216);
    color: black;
    width: 350px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px 5px rgba(31, 31, 31, 0.685);
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}

.grupo{
    display: flex;
    flex-direction: column;
}

.grupo label{
    margin-bottom: 10px;
}


.grupo input{
    width: 130%;
    height: 30px;
    padding: 5px;
    align-self: center;
}

#finalCompra{
    width: 150px;
    padding: 12px;
    font-size: 15px;
}



.warning{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(173, 0, 0);
    padding-top: 20px;
}
