* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
  }

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 10vh;
}

#finalizar{
    background-color: rgb(216, 216, 216);
    color: black;
    width: 70vh;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px 5px rgba(31, 31, 31, 0.685);
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}

.form h2{
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.grupo{
    display: flex;
    flex-direction: column;
}

.grupoIncorrecto label{
    color: rgb(173, 0, 0);
}

.grupoIncorrecto input{
    border: 2px solid rgb(173, 0, 0);
}

.grupo label{
    margin-bottom: 10px;
}

.grupoInput{
    position: relative;
}

.grupo input{
    width: 250px;
    height: 30px;
    padding: 5px;
    align-self: center;
    line-height: 30px;
}

.grupo input:focus{
    box-shadow: 8px solid rgb(63, 63, 63);
    outline: none;
}

.grupo .formValidacion{
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 7px;
    z-index: 100;
    opacity: 0;
}

.grupoCorrecto .formValidacion{
    color: green;
    opacity: 1;
}

#finalCompra{
    width: 70%;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 400ms
}

#finalCompra:hover{
    outline: 0;
    background-color: rgb(167, 167, 167);
}



.warnings{
    display: none;
    font-size: 15px;
    text-align: center;
    margin: auto;
    color: rgb(173, 0, 0);
    padding-top: 10px;
}

.warningsActivas{
    display: block;
}

.mensajeForm{
    height: 40px;
    background-color: rgb(206, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    border-radius: 3px;
    display: none;
}

.mensajeFormActivo{
    display: flex;
    justify-content: center;
}
